In [3]:
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker

In [6]:
import os
# engine = create_engine(os.getenv('DATABASE_URL'))
db = scoped_session(sessionmaker(bind=None))

In [7]:
data = db.execute("select * from table").fectch_all()

UnboundExecutionError: Could not locate a bind configured on SQL expression or this Session

In [8]:
c = 3

In [9]:
c

3

In [12]:
import numpy as np
import pandas as pd

In [15]:


df = pd.DataFrame(np.random.rand(4,3), columns=['a', 'b', 'c'])

In [16]:
df['d'] = None

In [18]:
df.iloc[2,3] = 'A'

In [37]:
index_list = [0,3]
df.loc[index_list,'d'] = 1
df.d.map({'Y':1})

0    NaN
1    NaN
2    1.0
3    NaN
Name: d, dtype: float64

In [38]:
df

          a         b         c     d
0  0.570634  0.721651  0.109118     1
1  0.045555  0.124092  0.784072  None
2  0.674947  0.554967  0.859791     Y
3  0.119101  0.657793  0.099529     1

In [39]:
df2 = df

In [40]:

df2

          a         b         c     d
0  0.570634  0.721651  0.109118     1
1  0.045555  0.124092  0.784072  None
2  0.674947  0.554967  0.859791     Y
3  0.119101  0.657793  0.099529     1

In [43]:
df2.loc[3,'d'] = 0
df2

          a         b         c     d
0  0.570634  0.721651  0.109118     1
1  0.045555  0.124092  0.784072  None
2  0.674947  0.554967  0.859791     Y
3  0.119101  0.657793  0.099529     0

In [44]:
df

          a         b         c     d
0  0.570634  0.721651  0.109118     1
1  0.045555  0.124092  0.784072  None
2  0.674947  0.554967  0.859791     Y
3  0.119101  0.657793  0.099529     0

In [51]:
df3 = df.copy()

In [52]:
df3.loc[2,'d'] = 'hi'

In [57]:
df3.d.isin(['hi'])

0    False
1    False
2     True
3    False
Name: d, dtype: bool

In [163]:
import requests

def get_api(num):
    url = 'http://127.0.0.1:5000/api/double/'
    res = requests.get(url + str(num)).json()
    return res['data']

get_api(4)

8

In [159]:
res = requests.get('http://127.0.0.1:5000/api/double/3').json()

In [161]:
res['data']

6

In [60]:
np.array([5] * len(df))

array([5, 5, 5, 5])

In [61]:
df2

          a         b         c     d
0  0.570634  0.721651  0.109118     1
1  0.045555  0.124092  0.784072  None
2  0.674947  0.554967  0.859791     Y
3  0.119101  0.657793  0.099529     0

In [72]:

df2[['a','b','c']] > 0 * 10

      a     b     c
0  True  True  True
1  True  True  True
2  True  True  True
3  True  True  True

In [74]:
df4 = df[['a','b','c']]

In [78]:
df4.apply(lambda x: x.max(), axis = 1)

0    0.721651
1    0.784072
2    0.859791
3    0.657793
dtype: float64

In [79]:
df4

          a         b         c
0  0.570634  0.721651  0.109118
1  0.045555  0.124092  0.784072
2  0.674947  0.554967  0.859791
3  0.119101  0.657793  0.099529

In [93]:
x = [[2,3,4],
     [5,6,7],
    [8,9,10]]

In [94]:
list(zip(*x))

[(2, 5, 8), (3, 6, 9), (4, 7, 10)]

In [82]:
list(zip(x))

[([2, 3, 4],), ([5, 6, 7],)]

In [104]:
x = []
for i in x:
    print(i)
else:
    print('No')

done

In [105]:
def generate_map(num):
    for i in range(num):
        yield i * i

In [113]:
x = generate_map(50)

In [114]:
x

In [115]:
x.next()

AttributeError: 'generator' object has no attribute 'next'

In [116]:
for i in x:
    if i < 20:
        print(i)
    else:
        break

0
1
4
9
16

In [111]:
list(x)

[36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401]

In [117]:
import pandas as pd
import numpy as np

In [126]:
d = np.random.randn(10,4)

In [132]:
date = pd.date_range('1/1/2018', '1/10/2018')

In [137]:
time_tb = pd.DataFrame(d, index=date, columns=['a','b','c','d'])

In [135]:
my_dict = {
    'key1': 2,
    'key2': 3
    
}

In [136]:
my_dict.get('key1')

2

In [141]:
time_tb.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10'],
              dtype='datetime64[ns]', freq='D')